In [1]:
import csv
import pandas as pd
import numpy as np
data = pd.read_csv('tableau_cleaned.csv')

In [2]:
data

     country  year      value
0     Angola  2009    0.00000
1     Angola  2009    0.00000
2     Angola  2009    0.00000
3     Angola  2009    0.00000
4     Angola  2010    0.00000
5     Angola  2010    0.00000
6     Angola  2010    0.00000
7     Angola  2010    0.00000
8     Angola  2011    0.00000
9     Angola  2011    0.00000
10    Angola  2011    0.00000
11    Angola  2011    0.00000
12    Angola  2012  118.00000
13    Angola  2012    0.00000
14    Angola  2012    0.00000
15    Angola  2012    0.00000
16    Angola  2013    0.00000
17    Angola  2013    0.00000
18    Angola  2013    0.00000
19    Angola  2013    0.00000
20    Angola  2014    0.00000
21    Angola  2014    0.00000
22    Angola  2014    0.00000
23    Angola  2014    0.00000
24    Angola  2015    0.00000
25    Angola  2015    0.00000
26    Angola  2015    0.00000
27    Angola  2015    0.00000
28    Angola  2016    0.00000
29    Angola  2016    0.00000
...      ...   ...        ...
2412  Zambia  2009    0.00000
2413  Zambia  2010    0.00000
2414  Zambia  2010    0.00000
2415  Zambia  2010    0.00000
2416  Zambia  2010    0.00000
2417  Zambia  2011    0.00000
2418  Zambia  2011    0.00000
2419  Zambia  2011    0.00000
2420  Zambia  2011    0.00000
2421  Zambia  2012    0.00000
2422  Zambia  2012    0.00000
2423  Zambia  2012   10.00000
2424  Zambia  2012    0.00000
2425  Zambia  2013   27.00000
2426  Zambia  2013   40.00000
2427  Zambia  2013  560.00000
2428  Zambia  2013  862.00000
2429  Zambia  2014  207.98550
2430  Zambia  2014  791.18025
2431  Zambia  2014  662.87250
2432  Zambia  2014  562.53975
2433  Zambia  2015  196.53750
2434  Zambia  2015  104.85000
2435  Zambia  2015  263.21250
2436  Zambia  2015  418.86750
2437  Zambia  2016  194.36250
2438  Zambia  2016    0.00000
2439  Zambia  2016   73.47000
2440  Zambia  2016  200.03700
2441  Zambia  2017   18.75000

[2442 rows x 3 columns]

In [3]:
data['value'] = data['value'].astype('int64')

In [6]:
data_clean = data.groupby(['country', 'year'], as_index=False).sum()

In [7]:
data_clean

       country  year    value
0       Angola  2009        0
1       Angola  2010        0
2       Angola  2011        0
3       Angola  2012      118
4       Angola  2013        0
5       Angola  2014        0
6       Angola  2015        0
7       Angola  2016        0
8       Angola  2017        0
9    Australia  2009       26
10   Australia  2010       60
11   Australia  2011       34
12   Australia  2012      119
13   Australia  2013        5
14   Australia  2014        0
15   Australia  2015        0
16   Australia  2016        0
17   Australia  2017        0
18      Belize  2009        0
19      Belize  2010       89
20      Belize  2011     1787
21      Belize  2012     4991
22      Belize  2013     5375
23      Belize  2014     3892
24      Belize  2015      669
25      Belize  2016      392
26      Belize  2017        0
27       Benin  2009      282
28       Benin  2010     3301
29       Benin  2011    40805
..         ...   ...      ...
636    Vanuatu  2015      119
637    Vanuatu  2016     1145
638    Vanuatu  2017      213
639    Vietnam  2009     9749
640    Vietnam  2010    21983
641    Vietnam  2011   123031
642    Vietnam  2012    79367
643    Vietnam  2013    45545
644    Vietnam  2014   131231
645    Vietnam  2015     6631
646    Vietnam  2016    36893
647    Vietnam  2017    15950
648      World  2009    90983
649      World  2010   236160
650      World  2011   564874
651      World  2012   757597
652      World  2013  1056511
653      World  2014  1714387
654      World  2015   713186
655      World  2016   814755
656      World  2017   280732
657     Zambia  2009        0
658     Zambia  2010        0
659     Zambia  2011        0
660     Zambia  2012       10
661     Zambia  2013     1489
662     Zambia  2014     2222
663     Zambia  2015      981
664     Zambia  2016      467
665     Zambia  2017       18

[666 rows x 3 columns]

In [11]:
data_clean.to_csv('result.csv', sep=',', encoding='utf-8')