In [1]:
import csv
import pandas as pd
import numpy as np
data = pd.read_csv('tableau.csv')

In [2]:
data

     Partner Country Unit  region     subregion quarter  year     value
0             Angola   M3  Africa  other africa      Q1  2009       0.0
1             Angola   M3  Africa  other africa      Q2  2009       0.0
2             Angola   M3  Africa  other africa      Q3  2009       0.0
3             Angola   M3  Africa  other africa      Q4  2009       0.0
4             Angola   M3  Africa  other africa      Q1  2010       0.0
5             Angola   M3  Africa  other africa      Q2  2010       0.0
6             Angola   M3  Africa  other africa      Q3  2010       0.0
7             Angola   M3  Africa  other africa      Q4  2010       0.0
8             Angola   M3  Africa  other africa      Q1  2011       0.0
9             Angola   M3  Africa  other africa      Q2  2011       0.0
10            Angola   M3  Africa  other africa      Q3  2011       0.0
11            Angola   M3  Africa  other africa      Q4  2011       0.0
12            Angola   M3  Africa  other africa      Q1  2012     118.0
13            Angola   M3  Africa  other africa      Q2  2012       0.0
14            Angola   M3  Africa  other africa      Q3  2012       0.0
15            Angola   M3  Africa  other africa      Q4  2012       0.0
16            Angola   M3  Africa  other africa      Q1  2013       0.0
17            Angola   M3  Africa  other africa      Q2  2013       0.0
18            Angola   M3  Africa  other africa      Q3  2013       0.0
19            Angola   M3  Africa  other africa      Q4  2013       0.0
20            Angola   M3  Africa  other africa      Q1  2014       0.0
21            Angola   M3  Africa  other africa      Q2  2014       0.0
22            Angola   M3  Africa  other africa      Q3  2014       0.0
23            Angola   M3  Africa  other africa      Q4  2014       0.0
24            Angola   M3  Africa  other africa      Q1  2015       0.0
25            Angola   M3  Africa  other africa      Q2  2015       0.0
26            Angola   M3  Africa  other africa      Q3  2015       0.0
27            Angola   M3  Africa  other africa      Q4  2015       0.0
28            Angola   M3  Africa  other africa      Q1  2016       0.0
29            Angola   M3  Africa  other africa      Q2  2016       0.0
...              ...  ...     ...           ...     ...   ...       ...
4854          Zambia  USD  Africa  other africa      Q4  2009       0.0
4855          Zambia  USD  Africa  other africa      Q1  2010       0.0
4856          Zambia  USD  Africa  other africa      Q2  2010       0.0
4857          Zambia  USD  Africa  other africa      Q3  2010       0.0
4858          Zambia  USD  Africa  other africa      Q4  2010       0.0
4859          Zambia  USD  Africa  other africa      Q1  2011       0.0
4860          Zambia  USD  Africa  other africa      Q2  2011       0.0
4861          Zambia  USD  Africa  other africa      Q3  2011       0.0
4862          Zambia  USD  Africa  other africa      Q4  2011       0.0
4863          Zambia  USD  Africa  other africa      Q1  2012       0.0
4864          Zambia  USD  Africa  other africa      Q2  2012       0.0
4865          Zambia  USD  Africa  other africa      Q3  2012    5992.0
4866          Zambia  USD  Africa  other africa      Q4  2012       0.0
4867          Zambia  USD  Africa  other africa      Q1  2013   21962.0
4868          Zambia  USD  Africa  other africa      Q2  2013   12583.0
4869          Zambia  USD  Africa  other africa      Q3  2013  186193.0
4870          Zambia  USD  Africa  other africa      Q4  2013  336562.0
4871          Zambia  USD  Africa  other africa      Q1  2014   91786.0
4872          Zambia  USD  Africa  other africa      Q2  2014  399400.0
4873          Zambia  USD  Africa  other africa      Q3  2014  601443.0
4874          Zambia  USD  Africa  other africa      Q4  2014  525963.0
4875          Zambia  USD  Africa  other africa      Q1  2015  202850.0
4876          Zambia  USD  Africa  other africa      Q2  2015   96629.0
4877          Zambia  USD  Africa  other africa      Q3  2015  253443.0
4878          Zambia  USD  Africa  other africa      Q4  2015  403319.0
4879          Zambia  USD  Africa  other africa      Q1  2016  150431.0
4880          Zambia  USD  Africa  other africa      Q2  2016       0.0
4881          Zambia  USD  Africa  other africa      Q3  2016   66586.0
4882          Zambia  USD  Africa  other africa      Q4  2016  109082.0
4883          Zambia  USD  Africa  other africa      Q1  2017    9800.0

[4884 rows x 7 columns]

In [3]:
countries = data['Partner Country'].unique()

In [4]:
countries

array(['Angola', 'Australia', 'Belize', 'Benin', 'Bolivia', 'Brazil',
       'Burkina Faso', 'Cambodia', 'Cameroon', 'Chile', 'China',
       'Colombia', 'Congo', 'Congo, Dem. Rep.', 'Costa Rica',
       'Cote d Ivoire', 'East Timor', 'Ecuador', 'El Salvador',
       'Equatorial Guinea', 'Fiji', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Honduras',
       'India', 'Indonesia', 'Japan', 'Kenya', 'Laos', 'Liberia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Mexico',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Nicaragua', 'Nigeria',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Philippines', 'Senegal', 'Sierra Leone', 'Singapore',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Taiwan', 'Tanzania', 'Thailand',
       'Togo', 'United Arab Emirates', 'Unidentified Country', 'Vanuatu',
       'Vietnam', 'World', 'Zambia'], dtype=object)

In [5]:
data_volume = pd.read_csv('tableau_cleaned.csv')

In [8]:
len(data.index)

4884

In [9]:
len(data_volume.index)

2442

In [11]:
data_volume_clean = data_volume.groupby(['country'], as_index=False).sum()

In [12]:
data_volume_clean

                 country   year         value
0                 Angola  66417  1.180000e+02
1              Australia  66417  2.440000e+02
2                 Belize  66417  1.720134e+04
3                  Benin  66417  2.833748e+05
4                Bolivia  66417  1.290000e+02
5                 Brazil  66417  1.582897e+02
6           Burkina Faso  66417  3.660000e+02
7               Cambodia  66417  1.062875e+05
8               Cameroon  66417  2.778941e+03
9                  Chile  66417  1.600000e+01
10                 China  66417  3.696000e+01
11              Colombia  66417  6.920000e+01
12                 Congo  66417  6.690136e+04
13      Congo, Dem. Rep.  66417  2.184793e+05
14            Costa Rica  66417  2.036912e+03
15         Cote d Ivoire  66417  2.022702e+05
16            East Timor  66417  3.638200e+02
17               Ecuador  66417  1.484413e+02
18           El Salvador  66417  4.759250e+02
19     Equatorial Guinea  66417  1.065069e+03
20                  Fiji  66417  0.000000e+00
21                 Gabon  66417  6.789917e+03
22                Gambia  66417  5.662232e+05
23               Germany  66417  1.725000e+01
24                 Ghana  66417  5.123615e+05
25             Guatemala  66417  3.357549e+03
26                Guinea  66417  8.687722e+03
27         Guinea-Bissau  66417  1.316298e+05
28                Guyana  66417  6.930900e+01
29              Honduras  66417  2.698884e+03
..                   ...    ...           ...
44               Namibia  66417  9.375000e+01
45                 Nepal  66417  1.714500e+02
46             Nicaragua  66417  1.062968e+05
47               Nigeria  66417  8.510918e+05
48              Pakistan  66417  5.405970e+02
49                 Palau  66417  3.900000e+01
50                Panama  66417  4.651282e+04
51      Papua New Guinea  66417  8.967000e+01
52              Paraguay  66417  1.125287e+02
53           Philippines  66417  3.977135e+02
54               Senegal  66417  4.944750e+02
55          Sierra Leone  66417  8.159841e+04
56             Singapore  66417  4.956000e+01
57       Solomon Islands  66417  3.444450e+01
58          South Africa  66417  1.890000e+01
59           South Sudan  66417  4.064250e+01
60                 Spain  66417  9.850000e+01
61             Sri Lanka  66417  4.020000e+02
62                 Sudan  66417  1.260000e+02
63              Suriname  66417  9.927657e+02
64                Taiwan  66417  1.820000e+02
65              Tanzania  66417  7.536555e+02
66              Thailand  66417  3.127682e+03
67                  Togo  66417  1.768022e+05
68  Unidentified Country  66417  4.575000e+00
69  United Arab Emirates  66417  3.150000e+02
70               Vanuatu  66417  1.484961e+03
71               Vietnam  66417  4.703843e+05
72                 World  66417  6.229193e+06
73                Zambia  66417  5.193665e+03

[74 rows x 3 columns]

In [13]:
data_volume_clean['value'] = data_volume_clean['value'].astype('int64')

In [14]:
data_volume_clean

                 country   year    value
0                 Angola  66417      118
1              Australia  66417      244
2                 Belize  66417    17201
3                  Benin  66417   283374
4                Bolivia  66417      129
5                 Brazil  66417      158
6           Burkina Faso  66417      366
7               Cambodia  66417   106287
8               Cameroon  66417     2778
9                  Chile  66417       16
10                 China  66417       36
11              Colombia  66417       69
12                 Congo  66417    66901
13      Congo, Dem. Rep.  66417   218479
14            Costa Rica  66417     2036
15         Cote d Ivoire  66417   202270
16            East Timor  66417      363
17               Ecuador  66417      148
18           El Salvador  66417      475
19     Equatorial Guinea  66417     1065
20                  Fiji  66417        0
21                 Gabon  66417     6789
22                Gambia  66417   566223
23               Germany  66417       17
24                 Ghana  66417   512361
25             Guatemala  66417     3357
26                Guinea  66417     8687
27         Guinea-Bissau  66417   131629
28                Guyana  66417       69
29              Honduras  66417     2698
..                   ...    ...      ...
44               Namibia  66417       93
45                 Nepal  66417      171
46             Nicaragua  66417   106296
47               Nigeria  66417   851091
48              Pakistan  66417      540
49                 Palau  66417       39
50                Panama  66417    46512
51      Papua New Guinea  66417       89
52              Paraguay  66417      112
53           Philippines  66417      397
54               Senegal  66417      494
55          Sierra Leone  66417    81598
56             Singapore  66417       49
57       Solomon Islands  66417       34
58          South Africa  66417       18
59           South Sudan  66417       40
60                 Spain  66417       98
61             Sri Lanka  66417      402
62                 Sudan  66417      126
63              Suriname  66417      992
64                Taiwan  66417      182
65              Tanzania  66417      753
66              Thailand  66417     3127
67                  Togo  66417   176802
68  Unidentified Country  66417        4
69  United Arab Emirates  66417      315
70               Vanuatu  66417     1484
71               Vietnam  66417   470384
72                 World  66417  6229192
73                Zambia  66417     5193

[74 rows x 3 columns]

In [15]:
data_volume_clean.to_csv('sum_by_country.csv', sep=',', encoding='utf-8')